<app-sidebar></app-sidebar>
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <app-navbar></app-navbar>
    <!-- /#header -->
    <!-- Content -->
    <div class="content">
      <!-- Animated -->
      <div class="animated fadeIn">
     
          
  
      </div>
      <!-- .animated -->
    </div>
    <!-- /.content -->
    <div class="clearfix"></div>
    <!-- Footer -->
    <footer class="site-footer">
      <div class="footer-inner bg-white">
        <div class="row">
          <div class="col-sm-6">
            Copyright &copy; CSE
          </div>
          
        </div>
      </div>
    </footer>
    <!-- /.site-footer -->
  </div>