
<app-sidebar></app-sidebar>
<div id="right-panel" class="right-panel">
  <!-- Header-->
  <app-navbar></app-navbar>
  <!-- /#header -->
  <!-- Content -->
  <div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">
      <!-- Widgets  -->
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="stat-widget-five">
                <div>
                  <a href="#" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/images/logo_2.png" alt="CSS Logo">
                  </a>
                </div>
                <div>
                  <a href="#" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/images/logo_3.png" alt="CSS Logo">
                  </a>
                </div>
              <div>
                <a href="#" aria-haspopup="true" aria-expanded="false">
                  <img src="assets/images/logo_1.png" alt="CSS Logo">
                </a>
              </div>
              </div>
            </div>
          </div>
        </div>

  

   

        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <div>
                <a href="#" aria-haspopup="true" aria-expanded="false">
                  <img src="assets/images/logo_4.png" alt="CSS Logo">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Widgets -->
      <!--  Traffic  -->
   
      <!--  /Traffic -->
      <div class="clearfix"></div>
      <!-- Orders -->
      <div class="orders">
        <div class="row">
          <div class="col-xl-8">
            <div class="card">
              <div class="card-body">
                <h4 class="box-title">Tickets Vendus </h4>
              </div>
           
            </div> <!-- /.card -->
          </div>  <!-- /.col-lg-8 -->

        </div>
      </div>
      <!-- /.orders -->
      <!-- To Do and Live Chat -->
 

    </div>
    <!-- .animated -->
  </div>
  <!-- /.content -->
  <div class="clearfix"></div>
  <!-- Footer -->
  <footer class="site-footer">
    <div class="footer-inner bg-white">
      <div class="row">
        <div class="col-sm-6">
          Copyright &copy; CSE
        </div>
        
      </div>
    </div>
  </footer>
  <!-- /.site-footer -->
</div>

