
<app-sidebar></app-sidebar>
<div id="right-panel" class="right-panel">
  <!-- Header-->
  <app-navbar></app-navbar>
  <!-- /#header -->
  <!-- Content -->
  <div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">
      <!-- Widgets  -->
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="stat-widget-five">
                <div class="stat-icon dib flat-color-1">
                  <i class="pe-7s-cash"></i>
                </div>
                <div class="stat-content">
                  <div class="text-left dib">
                    <div class="stat-text">Dinars <span class="count">23569 </span></div>
                    <div class="stat-heading">Revenue</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

  

   

        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="stat-widget-five">
                <div class="stat-icon dib flat-color-4">
                  <i class="pe-7s-users"></i>
                </div>
                <div class="stat-content">
                  <div class="text-left dib">
                    <div class="stat-text"><span class="count">2986</span></div>
                    <div class="stat-heading">Tickets</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Widgets -->
      <!--  Traffic  -->
   
      <!--  /Traffic -->
      <div class="clearfix"></div>
      <!-- Orders -->
      <div class="orders">
        <div class="row">
          <div class="col-xl-8">
            <div class="card">
              <div class="card-body">
                <h4 class="box-title">Tickets Vendus </h4>
              </div>
           
            </div> <!-- /.card -->
          </div>  <!-- /.col-lg-8 -->

        </div>
      </div>
      <!-- /.orders -->
      <!-- To Do and Live Chat -->
 

    </div>
    <!-- .animated -->
  </div>
  <!-- /.content -->
  <div class="clearfix"></div>
  <!-- Footer -->
  <footer class="site-footer">
    <div class="footer-inner bg-white">
      <div class="row">
        <div class="col-sm-6">
          Copyright &copy; CSE
        </div>
        
      </div>
    </div>
  </footer>
  <!-- /.site-footer -->
</div>

